* { margin:0; padding:0; font-family: 'Noto Sans', 'Roboto', sans-serif;}

li {list-style: none;}
a {text-decoration: none;}

body{
    color: #222;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    
}
header {
    height: 74px;
    background-color: #161b1e;
    
}
header h1 {
    float: left;
    margin: 0 60px;
    height: 74px;
    width: 200px;
    text-align: center;
    color: #fff;
    line-height: 74px;
    letter-spacing: 5px;
    font-weight: normal;
}
header .category {
    float: left;
    height: 36px;
    margin: 19px 0;
}
header .category > li {
    float: left;
    position: relative;
    
}
header .category > li > a{
    display: block;
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    color: #fff;
}
header .category > li:hover > a{
    background-color: #96da47;
}
header .category > li:hover .sub {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
    transition: all .6s ease;
}
.sub {
    visibility: hidden;
    width: 500px;
    background-color: #282d30;
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 1px solid #96da47;
    transform: translateY(30px);
    opacity: 0;
}
.submenu {
    float: left;
    width: 25%;
}
.submenu li a {
    color: #eee;
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}
.submenu li a:hover {
    color: #96da47;
}
.submenu li .subtitle {
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
}
.slider .banner {
    width: 100%;
}
.owl-carousel {
    display: block;
}
/* deal */
#dealsection {
    padding: 40px 0;
    background-color: #96da47;
}
.deal {
    height: 46px;
    text-align: center;
    line-height: 46px;
}
.deal > div {
    display: inline-block;
    vertical-align: middle; /*inline*/
}
.deal .deal_title {
    color: #fff;
    font-family: impact;
    font-size: 30px;
}
.deal .dash {
    width: 40px;
    height: 1px;
    background-color: #222;
}
.deal .deal_desc {
    font-size: 24px;
}
.deal .deal_btn {
    position: relative;
    margin-left: 20px;
    width: 140px;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.deal_btn::after {
    content: 'VIEW ALL OFFERS'; /*가상선택자의 필수속성*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    /* z-index: -1; */
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all .4s ease;
}
.deal_btn:hover::after {
    transform: scaleY(1);
    color: #fff;
}

#productView{
    padding-top: 80px;
    width: 1200px;
    margin: 0 auto;
}
.product_title{
    text-align: center;
    font-family: impact;
    font-size: 30px;
}
.under_line{
    margin: 20px auto 30px;
    width: 30px;
    height: 1px;
    background-color: #ccc;
}
/* view */
.product_view{
    padding: 80px 0;
}
.view_item {
    width: 25%;
    float: left;
}
.view_inner {
    margin:  0 15px;
}
.view_inner .dp, .view_inner .motion {
    width: 100%;
}
.thumnails {
    position: relative;
}
.thumnails img {
    display: block; /*아래공백을 없애기 위해*/
}
.thumnails .motion {
    position: absolute;
    top: 0;
    left: 0;
    
}

.image {
    position: relative;
    
}
.block {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px 2px;
    box-sizing: border-box;
}
.block_list li {
    width: 40px;
    height: 40px;
    background-color: #fff;
    float: left;
    margin: 0 1px;
    text-align: center;
    line-height: 40px;
    
}
.block_list li.cart {
    width: calc(100% - 86px);
}
/* 기능 */
.view_inner .image {
    overflow: hidden;
}
.block {
    transform: translateY(46px);
    transition: all .4s ease;
}
.view_inner:hover .block {
    transform: translate(0px);
}
.thumnails{
    perspective: 500px;
}
.motion {
    transform: scale(0.8) rotateY(90deg);
    transition: all .5s ease;
}
.thumnails:hover .motion {
    transform: scale(1) rotateY(0deg);
}